<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiosco</title>
    <link rel="stylesheet" href="css/bootstrap-4.1.2.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>